<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc8KA_iE1QAsRjLamL8QbcrW7bZFsPIAU</string>
	<key>GCM_SENDER_ID</key>
	<string>861157064299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aaa.ddd.ttttttt</string>
	<key>PROJECT_ID</key>
	<string>projekat-test-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>projekat-test-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861157064299:ios:7d0419266d3825ab80fb2e</string>
</dict>
</plist>